[submodule "third_party/LongBench-timber"]
	path = third_party/LongBench-timber
	url = git@github.com:jeffwillette/LongBench-timber.git
[submodule "third_party/hyper_attn"]
	path = third_party/hyper_attn
	url = git@github.com:jeffwillette/hyper-attn.git
[submodule "third_party/RULER"]
	path = third_party/RULER
	url = https://github.com/jeffwillette/RULER
[submodule "third_party/H2O"]
	path = third_party/H2O
	url = https://github.com/jeffwillette/H2O
[submodule "third_party/hip-ainl"]
	path = third_party/hip-ainl
	url = git@github.com:jeffwillette/hip-ainl.git
[submodule "third_party/MInference"]
	path = third_party/MInference
	url = git@github.com:jeffwillette/MInference.git
